/* OrderPage.css */

#OrderPage {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* background-color: #f5f5f5; */
   
  }
  
  .container-order {
    display: flex;
    max-width: 1200px;
    width: 100%;
    /* background-color: #fff;
    border-radius: 10px;  */
     
    
   
   
  }
  
  .infoorder-stu {
    flex: 1;
    padding: 20px;
    /* border-right: 1px solid #ddd; */
    position: relative;
    background-color: #fff;
    border-radius: 10px; 
    margin-right: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .infouser-order {
    flex: 1;
    padding: 20px;
    margin-left: 20px;
    /* border: 1px solid black; */
    height: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .infoorderstu-item {
    display: flex;
    align-items: center;
    margin-bottom: 20%;
  }
  
  .imageorder-stu {
    width: 100%;
    height: 30vh;
   
    border-radius: 10px;
  }
  
  .imageorder-con {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .stu-infoorder {
    margin-left: 20px;
    width: 100%;
  }
  
  .inforordercon {
    display: flex;
    flex-direction: column;
  }
  
  .chuavuine {
    margin-bottom: 5%;
    font-family: 'Poppins';
  }
  
  .nameofstu, .typeofstu, .Addressofstu, .Timeofstu, .Dateorderstu {
    font-size: 16px;
    color: #333;
  }
  
  .custumor-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    font-family: 'Poppins';
  }
  
  .chuainfoorder {
    display: flex;
    flex-direction: column;
  }
  
  .chuainfovui {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10%;
    
  }
  
  .phonevui, .customername, .Priceorder, .totalpricevui {
    font-size: 16px;
    color: black;
    font-family: 'Poppins';
  }
  
  .kovui {
    font-size: 16px;
    color: black;
    font-family: 'Poppins';
  }
  
.vuiquatr{
    margin-top: 3%;
}

  
  .removebutton, .ordernut {
   
    padding: 10px;
    font-family: 'Poppins';
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
    margin-top: 20%;
  }
  
  .removebutton {
    background-color: white; 
    color: black;
    border-radius: 1px solid black;
   
  }
  
  .removebutton:hover {
    background-color: black;
    color: white; 
  }
  
  .ordernut {
    background-color: #9747FF; 
    color: #fff;
    margin-left: 55%;
    
  }
  
  .ordernut:hover {
    background-color: #7f50bc; 
  }
  .anhhost{
    width: 10%;
    height: 10%;
    border-radius: 50%;
    border: 1px solid black;
  }