#ErrorPage {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Để giữ Footer ở dưới cùng */
  }
  
  #ErrorPage > Header,
  #ErrorPage > Footer {
    flex-shrink: 0; /* Giữ nguyên kích thước của Header và Footer */
  }
  
  #ErrorPage > .content {
    /* flex-grow: 1; */
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
    margin-top: -2px;
  }
  