body {
  font-family: 'Poppins';
  
}

/* Đảm bảo thanh cuộn ngang luôn xuất hiện */
html, body {
 
  min-width: 500px; /* Đặt chiều rộng tối thiểu cho body */
}

#root {
  min-width: 500px; /* Đặt chiều rộng tối thiểu cho root */
  
}

/* Tùy chỉnh thanh cuộn ngang */
::-webkit-scrollbar {
  height: 8px; /* Chiều cao của thanh cuộn */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Màu nền của track */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #9747FF; /* Màu của thumb */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7A39C4; /* Màu khi hover */
}