#Reservation {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Đảm bảo chiều cao tối thiểu là toàn bộ màn hình */
    /* padding-top: 100px; */
  }
  
  /* #Reservation > Header {
    position: fixed; 
    top: 0;
    z-index: 1000;
    background-color: #fff; 
  } */
  
  #Reservation > Footer {
    margin-top: auto; /* Đẩy Footer xuống dưới cùng */
  
  }
  
  #Reservation > .LabTabs {
    flex: 1; /* Đảm bảo phần nội dung chiếm hết không gian giữa Header và Footer */
    overflow-y: auto; /* Thêm cuộn dọc nếu nội dung quá dài */
  }
  